/* #region main */
main {

    .container {

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                .addPost {
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    padding: 2rem 0;
                    width: 50%;

                    input,
                    textarea,
                    select {
                        border: none;
                        padding: .5rem;
                        border-radius: .5rem;
                        margin: .25rem .5rem .25rem 0;
                    }

                    button {
                        border: none;
                        padding: .5rem;
                        border-radius: .5rem;
                        margin: .25rem 0;
                        background-color: var(--teal-colour);
                    }
                }

                ul {
                    width: 80%;
                    margin: auto;

                    li {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                        background-color: var(--violet-colour);
                        border-radius: .5rem;
                        margin: 2rem;

                        .card {
                            display: flex;
                            flex-direction: column;

                            p {
                                line-height: 3.5rem;
                                margin-right: 1rem;
                            }
                        }

                        button {
                            border: none;
                            padding: .5rem;
                            border-radius: .5rem;
                            margin: 1rem;
                            background-color: var(--red-colour);
                        }
                    }
                }
            }
        }
    }
}

/* #endregion main */